/* inicio CSS MENU */
.menu_css { 
	border:0px solid #dddddd;
	background:#FFFFFF;
	padding:0px 0px 0px 0px;
	margin-bottom:5px 
}

div.cssMenuDiv {
	width:100%;
	height:28px;
	/* padding:2px 2px; */
	border-color:#DDDDDD;
	border-width:0px;
	border-style:solid;
}

.cssMenuDiv ul.cssMenu ul { display:none}
.cssMenuDiv ul.cssMenu li:hover>ul { display:block}
.cssMenuDiv ul.cssMenu ul { position: absolute;left:-1px;top:98%;}
.cssMenuDiv ul.cssMenu ul ul { position: absolute;left:98%;top:-2px;}
.cssMenuDiv ul.cssMenu, .cssMenuDiv ul.cssMenu ul {
	margin:0px;
	list-style:none;
	padding:0px 2px 2px 0px;
	background-color:#ffffff;
	background-repeat:repeat;
}

.cssMenuDiv ul.cssMenu, .cssMenuDiv ul.cssMenu ul {
	margin:0px;
	list-style:none;
	padding:0px 2px 2px 0px;
	background-color:#ffffff;
	background-repeat:repeat;
	border-color:#DDDDDD;
	border-width:1px;
	border-style:solid;
}

.cssMenuDiv ul.cssMenu table { border-collapse:collapse}
.cssMenuDiv ul.cssMenu { display:block; zoom:1; float: left; }
.cssMenuDiv ul.cssMenu ul { width:160.65px;	}
.cssMenuDiv ul.cssMenu li { display:block; margin:2px 0px 0px 2px; font-size:0px; }
.cssMenuDiv ul.cssMenu a:active, .cssMenuDiv ul.cssMenu a:focus { outline-style:none; }
.cssMenuDiv ul.cssMenu a
 ,.cssMenuDiv ul.cssMenu li.dis a:hover
 ,.cssMenuDiv ul.cssMenu li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:#ffffff;
	border-width:0px;
	border-color:#6655ff;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	padding:4px;
	_padding-left:0;
	font:normal 11px Verdana;
	color: #444444;
	text-decoration:none;
	cursor:default;
}
.cssMenuDiv ul.cssMenu span { overflow:hidden; }
.cssMenuDiv ul.cssMenu li { float:left; }
.cssMenuDiv ul.cssMenu ul li { float:none; }
.cssMenuDiv ul.cssMenu ul a { text-align:left; white-space:nowrap; }
.cssMenuDiv ul.cssMenu li.sep{
	text-align:center;
	padding:0px;
	line-height:0;
	height:100%;
}
.cssMenuDiv ul.cssMenu li.sep span{
	float:none;	padding-right:0;
	width:5;
	height:16;
	display:inline-block;
	background-color:#DDDDDD;
	background-image:none;
}
.cssMenuDiv ul.cssMenu ul li.sep span{ width:80%; height:3;	}
.cssMenuDiv ul.cssMenu li:hover{ position:relative;	}
.cssMenuDiv ul.cssMenu li:hover>a{
	background-color:#4792E6;
	border-color:#665500;
	border-style:solid;
	font:normal 11px Verdana;
	color: #ffffff;
	text-decoration:none;
}
.cssMenuDiv ul.cssMenu li a:hover{
	position:relative;
	background-color:#4792E6;
	border-color:#665500;
	border-style:solid;
	font:normal 11px Verdana;
	color: #ffffff;
	text-decoration:none;
}
.cssMenuDiv ul.cssMenu li.dis a { color: #AAAAAA !important; }
.cssMenuDiv ul.cssMenu img { border: none; float:left; _float:none; margin-right:4px; width:16px; height:16px; }
.cssMenuDiv ul.cssMenu ul img { width:16px; height:16px; }
.cssMenuDiv ul.cssMenu img.over { display:none }
.cssMenuDiv ul.cssMenu li.dis a:hover img.over { display:none !important }
.cssMenuDiv ul.cssMenu li.dis a:hover img.def  { display:inline !important }
.cssMenuDiv ul.cssMenu li:hover > a img.def  { display:none }
.cssMenuDiv ul.cssMenu li:hover > a img.over { display:inline }
.cssMenuDiv ul.cssMenu a:hover img.over
 ,.cssMenuDiv ul.cssMenu a:hover ul img.def
 ,.cssMenuDiv ul.cssMenu a:hover a:hover ul img.def
 ,.cssMenuDiv ul.cssMenu a:hover a:hover a:hover ul img.def
 ,.cssMenuDiv ul.cssMenu a:hover a:hover img.over
 ,.cssMenuDiv ul.cssMenu a:hover a:hover a:hover img.over
 ,.cssMenuDiv ul.cssMenu a:hover a:hover a:hover a:hover img.over { display:inline }
.cssMenuDiv ul.cssMenu a:hover img.def
 ,.cssMenuDiv ul.cssMenu a:hover ul img.over
 ,.cssMenuDiv ul.cssMenu a:hover a:hover ul img.over
 ,.cssMenuDiv ul.cssMenu a:hover a:hover a:hover ul img.over
 ,.cssMenuDiv ul.cssMenu a:hover a:hover img.def
 ,.cssMenuDiv ul.cssMenu a:hover a:hover a:hover img.def
 ,.cssMenuDiv ul.cssMenu a:hover a:hover a:hover a:hover img.def { display:none }
.cssMenuDiv ul.cssMenu a:hover ul
 ,.cssMenuDiv ul.cssMenu a:hover a:hover ul
 ,.cssMenuDiv ul.cssMenu a:hover a:hover a:hover ul { display:block }
.cssMenuDiv ul.cssMenu a:hover ul ul
 ,.cssMenuDiv ul.cssMenu a:hover a:hover ul ul { display:none }
.cssMenuDiv ul.cssMenu span{
	display:block;
	background-image:url(../img/menu_css_arrv_anim_1.gif);
	background-position:right center;
	background-repeat: no-repeat;
	padding-right:11px;
}
.cssMenuDiv ul.cssMenu li:hover>a>span{	background-image:url(../img/menu_css_arrv_anim_1o.gif); }
.cssMenuDiv ul.cssMenu a:hover span { _background-image:url(../img/menu_css_arrv_anim_1o.gif)}
.cssMenuDiv ul.cssMenu ul span
 ,.cssMenuDiv ul.cssMenu a:hover table span { background-image:url(../img/menu_css_arr_double_1.gif) }
.cssMenuDiv ul.cssMenu ul li:hover > a span { background-image:url(../img/menu_css_arr_double_1o.gif);}
.cssMenuDiv ul.cssMenu table a:hover span
 ,.cssMenuDiv ul.cssMenu table a:hover a:hover span
 ,.cssMenuDiv ul.cssMenu table a:hover a:hover a:hover span { background-image:url(../img/menu_css_arr_double_1o.gif) }
.cssMenuDiv ul.cssMenu table a:hover table span
 ,.cssMenuDiv ul.cssMenu table a:hover a:hover table span { background-image:url(../img/menu_css_arr_double_1.gif) }
/* fim CSS MENU */